.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #30c59b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #30c59b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #30c59b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-login {
  text-align: center;
  background-color: #30c59b;
  text-transform: uppercase;
  color: #eff1f7;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  border-radius: 2px;
  display: block;
}

.btn-login:hover,
.btn-login:focus{
  opacity: 0.85;
  color: white;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--gray2);
  margin-top: 1rem;
}

.pricing-card-header,
.features-container {
  padding: 1rem 2rem;
}

.pricing-card-container {
  background-color: #eff1f7;
  border-radius: 20px;
  box-shadow: 0 4px 12px 4px rgba(53, 50, 62, 0.14);
}

.w-80 {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin-bottom: 1rem;
}

.checkIcon {
  color: #30c59b;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.feature {
  display: flex;
  align-items: center;
}

.pricing-card-header {
  display: flex;
  flex-direction: column-reverse;
}

.info h2,
.features-container h2 {
  color: #35323e;
  font-size: 1.4rem;
}
.info p,
.features-container p {
  color: #35323e;
  opacity: 0.45;
  font-size: 0.8rem;
  margin-bottom: 0.85rem;
}

#price {
  font-size: 4rem;
  color: black;
}
.price p {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.8rem;
}

.features-container h2 {
  font-size: 1.2rem;
}

.feature {
  margin-bottom: 0.65rem;
  font-size: 0.85rem;
}

.hr {
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 1px;
}

.pricing-header {
  text-align: center;
  padding: 2rem 2rem 0;
}

.pricing-header h4 {
  color: #28aaa5;
  font-size: 1rem;
  font-weight: 500;
}

.pricing-header p {
  color: #35323e;
  font-size: 2.5rem;
}
.pricing-header h3 {
  color: black;
  opacity: 0.35;
  font-size: 0.8rem;
  font-weight: 300;
}

.toggle-pricing span {
  text-transform: capitalize;
}

.switch {
  margin: 1rem;
}

@media only screen and (min-width: 1400px) {
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    column-gap: 3rem;
  }
  .pricing-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .m-2 {
    margin-left: 1rem;
  }
  .pricing-card-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pricing-card-header .info {
    margin-right: 2rem;
  }
  .info p {
    margin: 0;
  }
  .pricing-header p {
    font-size: 3.5rem;
  }
  .pricing-header h3 {
    font-size: 0.9rem;
  }
  .pricing-header {
    padding: 0;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .pricing-header p {
    font-size: 2.5rem;
  }
}
