.statistics-container {
  background-color: var(--gray2);
  padding: 5rem 0;
}

.statistics-info p {
  color: var(--veryDarkViolet);
  opacity: 0.4;
  font-size: 0.9rem;
}

.statistics-info h2 {
  margin-bottom: 0.5rem;
  color: var(--veryDarkBlue);
}

.statistics-info {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.future {
  background-color: #ffffff;
  width: 350px;
  border-radius: 6px;
}

.future-container {
  padding: 1.75rem 2rem;
}

.future-container .icon img {
  width: 80%;
}
.future-container .icon {
  border-radius: 50%;
  background-color: var(--DarkViolet);
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  margin-bottom: 2rem;
  margin-top: -4rem;
}

.future-container h3 {
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}

.future-container p {
  font-size: 0.95rem;
  color: var(--veryDarkViolet);
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.futures {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.futures .future:nth-child(1) {
  z-index: 2;
}

.futures .future:nth-child(2) {
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}
.futures .future:nth-child(3) {
  margin-top: 8rem;
  z-index: 2;
}

.futures .future:nth-child(2)::before {
  content: "";
  display: block;
  width: 350px;
  height: 5px;
  background: var(--cyan);
  left: -350px;
  top: 50%;
  position: absolute;
}

.futures .future:nth-child(2)::after {
  content: "";
  display: block;
  width: 350px;
  height: 5px;
  background: var(--cyan);
  right: -350px;
  top: 50%;
  position: absolute;
}

@media only screen and (max-width: 1130px) {
  .futures {
    flex-direction: column;
  }
  .futures .future:nth-child(2)::before {
    content: "";
    display: block;
    width: 5px;
    height: 200px;
    background: var(--cyan);
    left: 50%;
    top: -200px;
    position: absolute;
  }

  .futures .future:nth-child(2)::after {
    content: "";
    display: block;
    width: 5px;
    height: 200px;
    background: var(--cyan);
    left: 50%;
    top: 245px;
    position: absolute;
  }
  .futures .future:nth-child(3),
  .futures .future:nth-child(1),
  .futures .future:nth-child(2) {
    margin-top: 5rem !important;
  }
  .futures {
    margin-top: 0;
  }
  .future-container .icon {
    margin-left: 39%;
    z-index: 2;
    position: relative;
  }
}
